@font-face {
    font-family: 'LatoBold';
    src: url(@/assets/font/Lato-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'DSEG7';
    src: url(@/assets/font/DSEG7Classic-Regular.ttf) format('truetype');
}
