:root {
  font-size: 62.5%;
  color: #404040;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .tab-item {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: none;
  }
}
